*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #000000, #1e1555);
    color: #ffffff;
    min-height: 100vh;
}

.header{
    padding: 20px;
}

.nombre{
    font-size: 32px;
    font-weight: 700;
    font-family: "Bebas Neue", sans-serif;
    

}

.subtitulo{
    margin: 8px;
    font-size: 14px;
    color: #b3b3b3;
}


